.container{
    background-color: @illuminating-emerald;
    .main-content{
        height: 100vh;
        padding: 100px;
        display: flex;
        border: solid 2px;
        justify-content: center;
        img{
            max-width: auto;
            width: 50%;
        }
        .main-text{
            width: 50%;
            font-size: 3.2rem;
            margin: 10px;
            padding: 50px;
            text-align: center;
            p{
                margin: 10px;
                padding: 25px;
            }
            a{
                border: solid 5px;
                border-radius: 10px;
                margin: 10px;
                padding: 25px;
                .button();
            }
        }
    }
}