h1{
    text-align: center;
    font-size: 6.0rem;
}
.team-content{
    display: flex;
    justify-content: space-evenly;
    .team-member{
        background-color: @rich-black;
        color: @ghost-white;
        padding: 30px;
        border-radius: 25px;
    }
    h2{
        font-size: 4.8rem;
        text-align: center;
    }
}